<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/css/main.css">
    <title>Dashboard</title>
</head>
<body>
    
    <main class="dashboard">
        <div><%= message %>!</div>
        <div>Hello <%= username %></div>
        <section class="action-btns-container">
            <button class="logoutBtn">
                Logout
            </button>
            <form action="/deleteuser" method="POST">
                <button class="delete-user-btn" type="submit">
                    Delete User?
                </button>
            </form>
        </section>
        
    </main>
    
    <script src="js/logout.js"></script>
</body>
</html>